:root {
    /* established color palette */
    --color-design: #e6563b;
    --color-develop: #eb9d3a;
    --color-support: #7cb06c;
    --color-host: #00aba9;

    --color-neutral-light: #f0f0f0;
    --color-neutral: #e6e6e6;
    --color-neutral-dark: #000;

    /* established font family, font weights, and font sizes */
    --ff-heading: 'Anton', sans-serif;
    --ff-body: 'Abel', sans-serif;

    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-300: .75rem;
    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3rem;

    --fs-logo : var(--fs-700);
    --fs-tagline: var(--fs-400);
    --fs-button: var(--fs-300);
    --fs-header: var(--fs-600);
    --fs-body: var(--fs-600);

    /* Established Sizes and Widths */
    --size-nav-bar-element-height: 2rem;
    --size-coffee-tile-height: 20rem;
    --size-coffee-tile-width: 12rem;

    /* Established Spacing of elements*/
    --gap-coffee-tiles: 3rem;
    --gap-nav-bar-elements: .5rem;
    --margin-nav-bar-section: 10rem;
    --margin-left-main-section: 3rem;
    --padding-input-elements: .5rem;
    --border-radius-buttons: .5rem;
    --border-radius-coffee-tiles: 1rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

* {
    outline: solid 1px lime;
}

h1{
}

/*Changed dimensions of logo to fit navbar*/
#codeupLogo{
    height: 35px;
    width: 35px;
    margin-right: .75rem;
}

.icon-lg {
    margin: auto .25rem;
    color: var(--color-neutral-light);
}
.icon-set-sm{
    height: 100%;
    padding: .25rem 0;
    margin: auto;
    display: flex;
    justify-content: end;
}
.icon-sm {
    margin-left: .5rem;
    padding: 0 .25rem;
    height: 18px;
    width: 18px;
    border: #ff7d57;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-neutral-dark);
}
.icon-sm > span{
    align-self: center;
    font-family: var(--ff-heading);
    font-size: var(--fs-400);
}
.icon-design{
    background: var(--color-design);
}
.icon-develop{
    background: var(--color-develop);
}
.icon-support{
    background: var(--color-support);
}
.icon-host{
    background: var(--color-host);
}


.card-body {
    margin: 0;
    padding: .25em;
    background: none;
    justify-content: flex-start;
}
.card-body > span{
    font-size: var(--fs-400);
    font-family: var(--ff-body);
}
.project-title{
    padding: 0;
    /* TODO trying to align to bottom of icons */
    margin-top: .25em;
    display: flex;
    justify-content: start;
    align-items: end;
}
.img-lg{
    border: solid 3px var(--color-neutral-light);
}